<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>기농이네 - 순수한 땅, 순수한 먹거리</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
  <script>
      // 부모 창에서 메시지를 받을 때 실행되는 이벤트 핸들러
      window.addEventListener("message", function(event) {
          const selectedId = event.data; // 부모 창에서 전송된 데이터

          // SSR 방식으로 렌더링된 데이터와 비교
          document.querySelectorAll('tr[data-id]').forEach(row => {
              const listId = row.getAttribute('data-id');
              if (listId === selectedId) {
                  const check = row.querySelector('.check-selected');
                  const btn = row.querySelector('.n-btn');

                  check.innerHTML= "<div class='deco icon:check icon-color:accent-1'></div>";
                  btn.classList.add('d:none');
              }
          });

      });


      window.addEventListener("load", function(){

        const tbody = this.document.querySelector(".n-table tbody");

        console.log(tbody);

        //선택버튼 클릭시 닫기
        tbody.addEventListener('click', event => {

          if(event.target.tagName!=='BUTTON')
            return;

          event.preventDefault();

          const id = event.target.dataset.id;
          const zipCode = event.target.dataset.zipcode;
          const addr1 = event.target.dataset.addr1;
          const addr2 = event.target.dataset.addr2;
          const receiverName = event.target.dataset.receivername;
          const receiverPhone = event.target.dataset.receiverphone;
          const label = event.target.dataset.label;

          if(window.opener && !window.opener.closed){
            window.opener.receiveValue({id,zipCode,addr1,addr2,receiverName,receiverPhone,label});
            window.close();
          }


        })

      });



  </script>
</head>
<body style="margin: 30px;">
<section>
  <h1 style="text-align: center; width: 100%; font-size: larger">진민경님의 배송지 목록</h1>
  <div style="margin: 10px 0px;text-align: right;">
    <button  class="n-btn n-btn"> + 배송지 신규입력 </button>
  </div>
  <form id="address-form">
    <table class="n-table n-row-height:3 n-table-hover n-table-border">
      <thead>
      <tr>
        <th scope="col" style="width: 50px"></th>
        <th scope="col" style="width: 115px">수령인</th>
        <th scope="col" style="width: 100%">주소</th>
        <th scope="col" style="width: 176px;">전화번호</th>
        <th scope="col" style="width: 95px; text-align: center">선택</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="list:${locationList}" th:data-id="${list.id}">
        <td class="check-selected"></td>
        <td th:text="${list.receiverName}">받는사람</td>
        <td th:text="${list.addr1 + list.addr2}">주소</td>
        <td th:text="${list.receiverPhone}">01099998888</td>
        <td>
          <button  class="change-id n-btn n-btn-type:outline"
                   th:data-id="${list.id}"
                   th:data-zipcode="${list.zipCode}"
                   th:data-addr1="${list.addr1}"
                   th:data-addr2="${list.addr2}"
                   th:data-receiverName="${list.receiverName}"
                   th:data-receiverPhone="${list.receiverPhone}"
                   th:data-label="${list.label}"
          >선택</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</section>

</body>
</html>
